html
    head
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css')
        style
            include css/game.css
        script(src='http://code.jquery.com/jquery-latest.min.js')
        script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
        script 
            include js/game.js
                

    <body>
        <div class="content">
        <div id='header'>
            <img src="http://i68.tinypic.com/9bhxqg.png" alt="LOGO" width="25%" align="middle">
        </div>
        <div id='buttons'>
            <button class="inst_button" > Instructions </button>
            <button class="lead_button" > Leaderboard </button>
            <button class="toggle"> Mode Toggle </button>
            <div class="inst">
                <h1> Instructions here </h1>
                <div class="close"> X </div>
            </div>
            <div class="lead">
                //- <h1> Leaderboard here</h1>
                <div class="close"> X </div>
                <table class = "leaderB">
                <tr>
                    <th>Spot<th>
                    <th>Name<th>
                    <th>Points<th>
                </tr>
                </table>
            </div>
        </div>

        <button id='start_game'>Start Game</button>

        <table id='div1' style='display:none;' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <tr>
                <th id='r1c1'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r1c2'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r1c3'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r1c4'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
            </tr>
            <tr>
                <th id='r2c1'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r2c2'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r2c3'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r2c4'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
            </tr>
            <tr>
                <th id='r3c1'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r3c2'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r3c3'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r3c4'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
            </tr>
            <tr>
                <th id='r4c1'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r4c2'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r4c3'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
                <th id='r4c4'>
                    <div class='card'><div class='front'></div><div class='back'></div></div>
                </th>
            </tr>
        </table>

        <table id="div2" style="display: none;" ondrop="drop(event)" ondragover="allowDrop(event)">
            <tr>
                <th class='sub_box' id="reactant"> </th>
                <th class='symbol' id="plus">+ </th>
                <th class='sub_box' id="reagent"> </th>
                <th class='symbol' id="arrow">=</th>
                <th class='sub_box' id="product"> </th>
            </tr>
        </table>
        <div id='submit' style="display: none;">
            <button id='check'>Submit</button>
            <button id='clear_answers' style='display: none;'>Clear</button>
            //-<button class='submit' id='check'>Submit</button>
        </div>
        <div id="score"></div>
        <div id="result"></div>
        </div>

        <form action='/'>
            <input type='submit' value='Home Page' />
        </form>
        <form action='/admin'>
            <input type='submit' value='Admin Page' />
        </form>
    </body>
